@import "../../node_modules/rmr-util/src/styles/_rmr-vars.scss";
@import "../../node_modules/rmr-util/src/styles/_rmr-mixins.scss";

/*
  override styles from man.css and other page-specific styles
*/

body {
  font-family: $rmr-fonts;
}

#man {
  margin: 0 auto;
  width: 300px;
}

.rmr-carousel {
  background: rgba(0,0,0,0.1);
  width: 100%;
  border-radius: 10px;
  height: 200px;
}

.rmr-carousel-container {
  height: 100%;
}

.rmr-next,
.rmr-prev {
  background: red;
  border: none;
  appearance: none;
}

.rmr-carousel-page {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.commands {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

hr {
  margin: 25px 0;
  height: 1px;
  background: rgba(0,0,0,0.1);
  border: none;
}


// button.rmr-prev {
//   width: 30px;
//   height: 30px;
//   display: block;
//   border: none;
// }
// button.rmr-next {
//   width: 30px;
//   height: 30px;
//   display: block;
//   border: none;
// }
